<footer class="periodico-footer">
  <div class="footer-content">
    <div class="footer-logo">
      <div class="logo">El Periódico Digital</div>
      <p class="slogan">Información verificada y confiable</p>
      <p class="copyright">© {{ 2025 }} El Periódico Digital.<br>Todos los derechos reservados.</p>
    </div>
    
    <div class="footer-links">
      <div class="links-column">
        <h3>Navegación</h3>
        <ul>
          <li><a href="#">Inicio</a></li>
          <li><a href="#">Política</a></li>
          <li><a href="#">Economía</a></li>
          <li><a href="#">Cultura</a></li>
          <li><a href="#">Deportes</a></li>
        </ul>
      </div>
      
      <div class="links-column">
        <h3>Recursos</h3>
        <ul>
          <li><a href="#">Archivo</a></li>
          <li><a href="#">Suscripciones</a></li>
          <li><a href="#">Publicidad</a></li>
          <li><a href="#">Empleo</a></li>
        </ul>
      </div>
      
      <div class="links-column">
        <h3>Compañía</h3>
        <ul>
          <li><a href="#">Sobre nosotros</a></li>
          <li><a href="#">Contacto</a></li>
          <li><a href="#">Términos</a></li>
          <li><a href="#">Privacidad</a></li>
        </ul>
      </div>
    </div>
    
    <div class="footer-contact">
      <h3>Contacto</h3>
      <p>contactoperiodicodigital.com</p>
      <p>+34 123 456 789</p>
      <p>Calle de la Prensa, 1<br>Madrid, España</p>
      
      <div class="social-links">
        <a href="#" class="social-icon">Twitter</a>
        <a href="#" class="social-icon">Facebook</a>
        <a href="#" class="social-icon">Instagram</a>
      </div>
    </div>
  </div>
  
  <div class="footer-legal">
    <p>El Periódico Digital es una publicación independiente. Todos los contenidos son propiedad de sus respectivos autores.</p>
  </div>
</footer>
