<header class="newspaper-header">
  <div class="header-top">
    <div class="header-info">
      <div class="date">{{ currentDate | date:'EEEE, d MMMM y' }}</div>
      <div class="weather">28°C • Soleado</div>
    </div>
    
    <div class="logo-container">
      <a routerLink="/" class="logo-link">
       <img src= '../../../assets/images/logoBuho.png' class="logo-img" alt="Clarion"/>
        <span class="logo-text">CLARION</span>
      </a>
      <p class="slogan">La mentira no pasa</p>
    </div>
    
    <div class="subscribe">
      <button class="button accent">Suscríbete</button>
    </div>
  </div>
  
  <nav class="main-nav">
  </nav>
</header>